body {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#pokedex img {
    min-height: 96px;
}

#pokedex .name , .type {
    text-transform: capitalize;
}

#pokedex .pokemon-data:hover {
    background-color: #333333;
}